// COLORS
main = #8fbaa8;
mainHover = #fffad1;
hover = darken(main, 50%)
mainLight = #f2828a
sec  = #fffad1
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  darken(#785c6b, 50%)
neotree = #2f2f33
// Resolution
cut = 37.5rem