// Theme Scheme
theme_bluegreen = #8fbaa8
theme_cream     = #fffad1
theme_lightpink = #fccfb8
theme_pink      = #f2828a
theme_violet    = #785c6b

// COLORS
main = theme_bluegreen
mainHover = rgba(theme_violet, .42)
lightHover = rgba(theme_cream, .60)
hover = darken(main, 50%)
mainLight = theme_pink
sec  = theme_cream
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  darken(theme_violet, 50%)
neotree = #2f2f33
// Resolution
cut = 37.5rem